html {
    margin: 0;
}

body {
    margin: 0;
}

.main_header {
    color: #138496;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    padding: 90px 0;
    width: 100%;
    background-image: url("./images/logo_header.jpeg");
}

.main_header h1 {
    font-weight: 800;
    font-size: 60px;
}

.category_header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    background: linear-gradient(
        90deg,
        rgba(0, 185, 255, 1) 0%,
        rgba(9, 39, 121, 1) 75%,
        rgba(8, 1, 119, 1) 100%
    );
}

.detail_header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    border-bottom: 2px solid #138496;
}

.course_title {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 90px 40px 20px 40px;
}

.course_title h1{
    margin: 0;
}

.wrapper {
    padding: 60px 80px;
}

.main_list li {
    list-style: none;
    padding: 15px 5px;
    width: fit-content;
    font-size: 20px;
}

.main_list li:hover {
    box-shadow: 0 0 5px;
}

.wrapper h2 {
    padding-bottom: 30px;
}

.wrapper h3{
    padding-top: 30px;
}

.wrapper a {
    text-decoration: none;
    color: #212529;
}

.wrapper a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #212529;
}

img {
    width: 50px;
    height: 50px;
}

.cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards_wrapper .card {
    margin: 5px;
    border: 1.5px solid #138496;
}

.cards_wrapper .card:hover {
    box-shadow: 0 0 10px;
}

.card-title {
    text-align: center;
    margin: 15px;
}

iframe {
	display: block; 
	margin-right: auto; 
	margin-left: auto;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: rgb(216, 205, 205);
    padding: 40px;
}
